*{
  margin: 0;
}

nav{
  color: red;
}

#hero-section {
  color:blue;
}

#our_story_section{
  color:green;
}

#watch_section{
  color:darkred;
}

#expertise_section{
  color:fuchsia;
}

#team_section{
  color:yellowgreen;
}

#contact_client_section{
  color:lightsalmon;
}

footer{
  color:blueviolet;
}